* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    justify-content: center;
}
#header{
    display: flex;
}
#reset{
  padding-top: 5px;
}
.logo{
  display: flex;
  font-size: 4rem;
  background-color: white;
  position: fixed;
  top: 0;
  padding: 2%;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
}
img{
  width: 500px;
  height: 100px;
  
}
.navbar{
  font-size: 25px;
  position: fixed;
  color: white;
  /* top: 150px; */
  top: 0px;
  background-color: rgb(3, 7, 45);
  height: 35px;
  width: 100%;
  display: flex;
  /* border: 1px solid black; */
  z-index: 1;
}

.menu{
  font-size: 20px;
  padding: 5px 7px;
  width: 20%;
}
.levelName{
  font-size: 15px;
  padding: 8px 15px;
  margin: auto;
  width: 40%;
}
.userDetails{
  font-size: 15px;
  padding: 8px 15px;
  width: 40%;
  text-align: right;
}

.main{
  display:flex;
  filter: blur(4px);
  z-index: -1;
}
.levelBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* border-radius: 20px; */
  margin-right: 20px;
  /* margin-top: 190px; */
  margin-top: 40px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  padding: .2%;
}
.level{
  width: 33%;
  display: flex;
  background-color: #6CB4EE;
  margin: 4%;
  padding : 0.7rem 0rem;
  font-size: 1.5rem;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.score{
  background-color: #054f8a;
  margin-left: auto;
  padding: 0px 5px;
  border-radius: 3px;
}
.article{
  width: 90%;
  position: fixed;
  top: 50px;
  /* left: 22%; */
  display: flex;
  display: none;
  flex-direction: column;
  margin: 0% 5%;
}
.result
{
  height: 20%;
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 90px;
  align-self: end;
  padding: 10px;
  font-size: 20px;
  color: #6CB4EE;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}

div.word{
    display: inline-block;
    font-family: 'roboto-mono',monospace;
}
#game{
    line-height: 60px;
    height: 240px;
    width: 100%;
    overflow: hidden;
    /* border: 1px solid #007bff; */
    border-radius: 20px;
    padding: 0px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.letter{
    margin: 0px 2px;
    border-radius: 2px;
    color : gray;
}

.letter.current{
    border-bottom: 3px solid #0a6bf9;
}
.letter.correct{
    color: #0e630e;
    background: #e7fbd3;
}
.letter.wrong{
    color: darkred;
    background: pink;
}
.letter.correct.replaced{
    background: #ffe9b2;
    color: green;
}
#timer{
  padding: 10px;
  font-size: 30px;
}


.resultPopUp{
  margin: auto;
  width:40%;
  padding: 30px;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #6CB4EE;
  position: fixed;
  top: 25%;
  left: 30%;
  z-index: 10;
  font-size: 25px;
}
.box{
  text-align: center;
  display: flex;
  margin: auto;
  font-size: 3rem;
}
button{
  width:20%;
  height:40px;
  font-size: 20px;
  border-radius: 20px;
  border-width: 0px;
  margin: 20px 14.1% 0px 14.1%;
}
table{
  border-spacing: 0px;
}
td{
  border-bottom: 1px solid white;
  padding: 10px 0px;
}


input{
  width: 330px;
  height:40px;
  border-radius: 20px;
  border: 1px solid black;
  padding-left: 10px;
  margin: 5px;
}
input[type="submit"]{
  background-color: rgb(8, 8, 58);
  color: white;
  margin-bottom: 20px;
}
.container{
  margin: auto;
  width:400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  background: white;
  position: fixed;
  top: 25%;
  left: 36%;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) -3px 6px 12px -2px, rgba(0, 0, 0, 0.3) -3px 3px 7px -3px;

}
.welcome{
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.switch{
  padding-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 15px;
}

