body{
    font-family: 'roboto',sans-serif;
    font-size: 2.4rem;
    justify-content: center;
}
#header{
    display: flex;
}
#reset{
  padding-top: 5px;
}
.logo{
  display: flex;
  font-size: 4rem;
  background-color: white;
  position: fixed;
  top: 0;
  padding: 2%;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
img{
  width: 500px;
  height: 100px;
  
}
.navbar{
  position: fixed;
  top: 150px;
  background-color: white;
  height: 40px;
  width: 100%;
  display: flex;
  border: 1px solid black;
}

.menu{
  height: 40px;
  width: 40px;
  padding: 0px 7px;
}
.main{
  display:flex;
}
.levelBar{
  width: 20%;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 190px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.levelName{
  font-size: 1.5rem;
  margin: auto;
}
.level{
  width: 90%;
  background-color: #6CB4EE;
  margin: 5% 5% 0px 5%;
  padding : 0.7rem 0rem;
  font-size: 1.5rem;
  border-radius: 10px;
}
.article{
  width: 80%;
  position: fixed;
  top: 200px;
  left: 22%;
  display: flex;
  flex-direction: column;
}
.result
{
  height: 20%;
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 90px;
  align-self: end;
  padding: 10px;
  font-size: 20px;
  font-family:"arial";
  color: #6CB4EE;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}

div.word{
    display: inline-block;
    font-family: 'roboto-mono',monospace;
}
#game{
    line-height: 60px;
    height: 240px;
    width: 90%;
    overflow: hidden;
    /* border: 1px solid #007bff; */
    border-radius: 20px;
    padding: 0px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;}
.letter{
    margin: 0px 2px;
    border-radius: 2px;
    color : gray;
}

.letter.current{
    border-bottom: 3px solid #0a6bf9;
}
.letter.correct{
    color: #0e630e;
    background: #e7fbd3;
}
.letter.wrong{
    color: darkred;
    background: pink;
}
.letter.correct.replaced{
    background: #ffe9b2;
    color: green;
}
#timer{
  padding: 10px;
  font-size: 30px;
}





input[type="text"],[type="password"]{
  width: 97%;
  height:40px;
  border-radius: 20px;
  border: 1px solid black;
  padding: 0px 0px 0px 10px;
  margin: 5px;
}
input[type="submit"]{
  background-color: rgb(8, 8, 58);
  color: white;
  padding: 0px 10px 0px 10px;
  width: 100%;
  height:40px;
  border-radius: 20px;
  margin: 5px 5px 20px 5px;
}
.container{
  margin: 100px 100px;
  width:400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
}
.mainContainer{
  display: flex;
  width: 100%;
  
}
.welcome{
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.switch{
  padding-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 15px;
}







  